<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title size="large">Daily Astronomy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  

  <app-no-internet *ngIf="messageService.message" message="{{messageService.message}}"></app-no-internet>

  <div *ngIf="!messageService.message">
    <div class="ion-padding">
      <ion-title class="ion-text-center">Today's fact</ion-title>
      <ion-card class="ion-padding" color="danger" *ngIf="todaysFact as fact" [routerLink]="['/detail/'+fact.date]">
        <app-fact-card [fact]="fact" redirectTo="/tabs/home/detail/{{ fact.date }}"></app-fact-card>
      </ion-card>
    </div>
    <div class="ion-padding">
      <ion-title>Some of our favorite facts</ion-title>
      <ion-card color="tertiary">
        <ion-grid>
          <ion-row class="scroll">
            <ion-col>
              <div class="facts">
                <app-fact-card *ngFor="let fact of randomFacts" [fact]="fact" redirectTo="/tabs/home/detail/{{ fact.date }}"></app-fact-card>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>

</ion-content>
