<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title size="large">Daily Astronomy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-title>Today's fact</ion-title>
  <div class="fact" *ngIf="todaysFact as fact" [routerLink]="['/detail/'+fact.date]">
    <app-fact-card [fact]="fact" redirectTo="/tabs/home/detail/{{ fact.date }}"></app-fact-card>
  </div>

  <ion-title>Some of our favorite facts</ion-title>
  <div class="fact" *ngFor="let fact of randomFacts" [routerLink]="['/detail/'+fact.date]">
    <app-fact-card [fact]="fact" redirectTo="/tabs/home/detail/{{ fact.date }}"></app-fact-card>
  </div>

</ion-content>
